body {
    background-color: #121212;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
button {
    margin: 5px;
    padding: 15px;
    font-size: 18px;
}
.botao-flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #03DAC6;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 50px;
}